<h1>Listing status_categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @status_categories.each do |status_category| %>
      <tr>
        <td><%= status_category.name %></td>
        <td><%= link_to 'Show', status_category %></td>
        <td><%= link_to 'Edit', edit_status_category_path(status_category) %></td>
        <td><%= link_to 'Destroy', status_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status Category', new_status_category_path %>
