<p id="notice"><%= notice %></p>

<p>
  <strong>Phrase:</strong>
  <%= @option.phrase %>
</p>

<p>
  <strong>Category:</strong>
  <%= @option.category_id %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
