<h1>Listing status_catgeories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @status_catgeories.each do |status_catgeory| %>
      <tr>
        <td><%= status_catgeory.name %></td>
        <td><%= link_to 'Show', status_catgeory %></td>
        <td><%= link_to 'Edit', edit_status_catgeory_path(status_catgeory) %></td>
        <td><%= link_to 'Destroy', status_catgeory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status catgeory', new_status_catgeory_path %>
